config setup
    uniqueids=never

conn %default
    esp = aes256-sha256,aes256-sha1,3des-sha1!
    ike = aes256-sha256-modp2048,aes256-sha1-modp2048,aes128-sha1-modp2048,3des-sha1-modp2048,aes256-sha256-modp1024,aes256-sha1-modp1024,aes128-sha1-modp1024,3des-sha1-modp1024!

conn base
    auto=add
    keyexchange=ikev2
    dpdaction=clear
    dpddelay=300s
    left=%defaultroute
    leftsubnet=0.0.0.0/0
    rightsourceip=10.8.0.0/16
    rekey=no
    fragmentation=force
    right=%any

conn android_xauth_psk
    also=base
    keyexchange=ikev1
    leftid=@android
    leftauth=psk
    rightauth=psk
    rightauth2=xauth
    
conn windows7
    also=base
    leftauth=pubkey
    leftca="C=CH, O=VULTR-VPS-CENTOS, CN=common_domain"
    leftid=@windows
    leftcert=common_domain.pem
    leftsendcert=always
    rightauth=eap-mschapv2
    rightsendcert=never
    eap_identity=%any

conn ios_ikev2
    also=base
    leftauth=pubkey
    #leftca="Certum Domain Validation CA SHA2"
    #leftca="AlphaSSL CA - SHA256 - G2"
    #leftca="C=GB, ST=Greater Manchester, L=Salford, O=COMODO CA Limited, CN=COMODO RSA Certification Authority"
    leftid=@common_domain
    leftcert=common_domain.crt
    leftsendcert=always
    rightauth=eap-mschapv2
    rightsendcert=never
    eap_identity=%any