charon {
    load_modular = yes
    i_dont_care_about_security_and_use_aggressive_mode_psk = yes
    plugins {
        include strongswan.d/charon/*.conf
        attr {
            dns = 223.5.5.5, 223.6.6.6
            #aliyun DNS server
            #dns = 100.100.2.138, 100.100.2.136
        }
    }
}

include strongswan.d/*.conf